In [1]:
import pandas as pd
import numpy as np

In [17]:
amazon_df = pd.read_excel('/Users/apple/Desktop/SemanticDataIntegration/Dataset/Dataset1_Amazon.xlsx')
goodreads_df = pd.read_csv('/Users/apple/Desktop/SemanticDataIntegration/Dataset/Dataset2_GoodReads.csv')
kindle_df = pd.read_csv('/Users/apple/Desktop/SemanticDataIntegration/Dataset/Dataset3_Kindle.csv')

In [53]:
print(goodreads_df.columns.tolist())

['source_url', 'readers choice votes', 'readers choice category', 'title', 'author', 'total avg rating', 'number of ratings', 'number of reviews', 'number of pages', 'edition', 'book description', 'first published date', 'kindle version and price', 'kindle price', 'about the author']

In [57]:
print(kindle_df.columns.tolist())

['asin', 'title', 'author', 'soldby', 'imgurl', 'producturl', 'stars', 'reviews', 'price', 'iskindleunlimited', 'category_id', 'isbestseller', 'iseditorspick', 'isgoodreadschoice', 'publisheddate', 'category_name']

In [65]:
# Amazon
amazon_df_renamed = amazon_df.rename(columns={
    'no_of_reviews': 'review_count',
    'ratings': 'rating',
    'year': 'publication_year'
})

# Goodreads
goodreads_df_renamed = goodreads_df.rename(columns={
    'title': 'title',
    'author': 'author',
    'total avg rating': 'rating',
    'number of reviews': 'review_count',
    'kindle price': 'price',
    'first published date': 'publication_year'
})

# Kindle — FIX: 'publisheddate' is lowercase
kindle_df_renamed = kindle_df.rename(columns={
    'stars': 'rating',
    'reviews': 'review_count',
    'price': 'price',
    'publisheddate': 'publication_year'
})

# --- Step 3: Select relevant columns ---

amazon_df_clean = amazon_df_renamed[['title', 'author', 'rating', 'review_count', 'price', 'publication_year']]
goodreads_df_clean = goodreads_df_renamed[['title', 'author', 'rating', 'review_count', 'price', 'publication_year']]

# Kindle – title and author not available, fill with None
kindle_df_clean = kindle_df_renamed[['rating', 'review_count', 'price', 'publication_year']].copy()
kindle_df_clean['title'] = None
kindle_df_clean['author'] = None
kindle_df_clean = kindle_df_clean[['title', 'author', 'rating', 'review_count', 'price', 'publication_year']]

# --- Step 4: Merge all datasets ---
merged_df = pd.concat([amazon_df_clean, goodreads_df_clean, kindle_df_clean], ignore_index=True)

# --- Step 5: Export the merged CSV ---
merged_df.to_csv('mediated_schema.csv', index=False)

print("✅ Merged CSV saved as 'mediated_schema.csv'")

✅ Merged CSV saved as 'mediated_schema.csv'

In [67]:
pd.read_csv('/Users/apple/Desktop/SemanticDataIntegration/Dataset/mediated_schema.csv')

/var/folders/dy/7r746_5n72x5ql9p02gqf_lm0000gn/T/ipykernel_77541/4076298577.py:1: DtypeWarning: Columns (0,1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('/Users/apple/Desktop/SemanticDataIntegration/Dataset/mediated_schema.csv')

,title,author,rating,review_count,price,publication_year
0,The Lost Symbol,Dan Brown,4.4,16118.0,12.49,2009
1,The Shack: Where Tragedy Confronts Eternity,William P. Young,4.7,23392.0,13.40,2009
2,Liberty and Tyranny: A Conservative Manifesto,Mark R. Levin,4.8,5036.0,9.93,2009
3,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.7,16912.0,14.30,2009
4,Going Rogue: An American Life,Sarah Palin,4.6,1572.0,9.99,2009
...,...,...,...,...,...,...
134687,NaN,NaN,4.7,0,0.00,2023-09-15
134688,NaN,NaN,4.4,0,9.99,2021-09-30
134689,NaN,NaN,4.8,0,1.99,2023-09-15
134690,NaN,NaN,4.7,0,0.00,2023-08-25
134691,NaN,NaN,4.7,0,0.00,2023-10-01